Repository SSDC-AndroMETA/ONE-vscode, pull requests merged in 2022-09, with the labels that each got.

#27 [Relation Viewer] Init relation viewer
  media/RelationViewer/index.html
  media/RelationViewer/index.js
  media/RelationViewer/style.css
  package.json
  src/OneExplorer/OneExplorer.ts
  src/RelationViewer/RelationViewerPanel.ts
  src/RelationViewer/Relationdata.ts
  src/extension.ts
Labels: 2 approvals, Relation Viewer

#30 [Metadata Viewer] Add path breadcrumbs and event handling
  media/MetadataViewer/index.css
  media/MetadataViewer/index.html
  media/MetadataViewer/index.js
  package.json
  src/MetadataViewer/MetadataViewerPanel.ts
Labels: Metadata Viewer

#31 [Relation Viewer] add logic to rerender relation viewer when node cli…
  media/RelationViewer/index.html
  media/RelationViewer/index.js
  media/RelationViewer/style.css
  src/RelationViewer/RelationViewerPanel.ts
Labels: 2 approvals, Relation Viewer

#32 [Metadata Manager] create relation view API
  src/Metaprovider/metadataAPI.ts
  src/Metaprovider/user_workspace/.meta/hash_objects/37/268335dd6931045bdcdf92623ff819a64244b53d0e746d438797349d4da578.json
  src/Metaprovider/user_workspace/.meta/hash_objects/88/8488c9a0128eeb0147672601f047b01bf24635a6aacb9784887ee96736acf8.json
  src/Metaprovider/user_workspace/.meta/hash_objects/9f/8641056d4e2eb03830f3c1bbb6c71ca6e820f6da94bf7055b132b8d2e6a2b5.json
  src/Metaprovider/user_workspace/.meta/hash_objects/a2/c96d518f1099a3b6afe29e443340f9f5fdf1289853fc034908444f2bcb8982.json
  src/Metaprovider/user_workspace/.meta/hash_objects/bf/bbc986a512b44da1c32c43879de2c004f27f91ccb4d853fe64a7f9e8daf9d3.json
Labels: 2 approvals, Metadata Manager

#33 [Relation Viewer] update logic to render viewer when node click
  media/MetadataViewer/index.css
  media/MetadataViewer/index.html
  media/MetadataViewer/index.js
  media/RelationViewer/index.html
  media/RelationViewer/index.js
  media/RelationViewer/style.css
  package.json
  src/MetadataViewer/Metadata.ts
  src/MetadataViewer/MetadataViewer.ts
  src/MetadataViewer/MetadataViewerPanel.ts
  src/MetadataViewer/MetadataViewerProvider.ts
  src/RelationViewer/RelationViewer.ts
  src/RelationViewer/RelationViewerPanel.ts
  src/RelationViewer/RelationViewerProvider.ts
  src/RelationViewer/Relationdata.ts
  src/extension.ts
Labels: 2 approvals, Relation Viewer

#35 [Metadata Manager] rename function
  src/MetadataManager/metadataAPI.ts
  src/MetadataManager/user_workspace/.meta/hash_objects/2d/3022c7202ca34ba55d8dc7239cc7a0378fe4d2bb61f05399dbde639075d56c.json
  src/MetadataManager/user_workspace/.meta/hash_objects/37/268335dd6931045bdcdf92623ff819a64244b53d0e746d438797349d4da578.json
  src/MetadataManager/user_workspace/.meta/hash_objects/51/bac58ac7d538e75bdfba5d8bcbfeb9bfbf4b04e0c9261512f6a829ed559299.json
  src/MetadataManager/user_workspace/.meta/hash_objects/a2/c96d518f1099a3b6afe29e443340f9f5fdf1289853fc034908444f2bcb8982.json
  src/MetadataManager/user_workspace/.meta/hash_objects/b9/9aabc6d3ce5e7966a62012528fe73b8c170edb51127af63afddcc890f02be4.json
  src/MetadataManager/user_workspace/.meta/relation.json
  src/MetadataManager/user_workspace/model.tflite
  src/MetadataManager/user_workspace/test_onnx.circle
  src/MetadataManager/user_workspace/test_onnx.log
  src/MetadataManager/user_workspace/while_000.circle
  src/MetadataManager/user_workspace/while_000.log
  src/Metaprovider/metadata_manager.ts
  src/Metaprovider/user_workspace/.meta/pathToHash.json
  src/Metaprovider/user_workspace/.meta/relation.json
  src/extension.ts
Labels: 2 approvals, Metadata Manager

#37 [Metadata Manager] feat pathToHash
  src/MetadataManager/metadataAPI.ts
  src/MetadataManager/pathToHash.ts
  src/MetadataManager/user_workspace/.meta/hash_objects/e3/b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855.json
  src/MetadataManager/user_workspace/2/3/testest.circle
  src/MetadataManager/user_workspace/2/test1.tflite
  src/extension.ts
Labels: 2 approvals, Metadata Manager

#42 [Relation Viewer] Update function to render relationViewer
  media/RelationViewer/index.html
  media/RelationViewer/index.js
  media/RelationViewer/style.css
  src/MetadataViewer/MetadataViewer.ts
  src/MetadataViewer/MetadataViewerProvider.ts
  src/RelationViewer/RelationViewer.ts
  src/RelationViewer/RelationViewerProvider.ts
Labels: 2 approvals

#44 [Metadata Manager] Fix a delete event handler to update pathToHash
  src/MetadataManager/EventManager.ts
  src/MetadataManager/metadataAPI.ts
  src/MetadataManager/pathToHash.ts
Labels: Metadata Manager

#43 [Metadata Manager] fix input item
  src/MetadataManager/metadataAPI.ts
  src/MetadataManager/pathToHash.ts
  src/MetadataManager/user_workspace/.meta/pathToHash.json
  src/MetadataManager/user_workspace/2/3/testest.circle
  src/MetadataManager/user_workspace/2/test1.tflite
Labels: 2 approvals, Metadata Manager

#46 [Metadata Manager] handle onchange event
  src/MetadataManager/EventManager.ts
  src/MetadataManager/metadataAPI.ts
  src/MetadataManager/pathToHash.ts
  src/extension.ts
Labels: 2 approvals, Metadata Manager

#45 [Metadata Manager] fix delete date to is_deleted
  package-lock.json
  src/MetadataManager/metadataAPI.ts
  src/MetadataManager/user_workspace/.meta/hash_objects/2d/3022c7202ca34ba55d8dc7239cc7a0378fe4d2bb61f05399dbde639075d56c.json
  src/MetadataManager/user_workspace/.meta/hash_objects/37/268335dd6931045bdcdf92623ff819a64244b53d0e746d438797349d4da578.json
  src/MetadataManager/user_workspace/.meta/hash_objects/51/bac58ac7d538e75bdfba5d8bcbfeb9bfbf4b04e0c9261512f6a829ed559299.json
  src/MetadataManager/user_workspace/.meta/hash_objects/88/8488c9a0128eeb0147672601f047b01bf24635a6aacb9784887ee96736acf8.json
  src/MetadataManager/user_workspace/.meta/hash_objects/9f/8641056d4e2eb03830f3c1bbb6c71ca6e820f6da94bf7055b132b8d2e6a2b5.json
  src/MetadataManager/user_workspace/.meta/hash_objects/a2/c96d518f1099a3b6afe29e443340f9f5fdf1289853fc034908444f2bcb8982.json
  src/MetadataManager/user_workspace/.meta/hash_objects/b9/9aabc6d3ce5e7966a62012528fe73b8c170edb51127af63afddcc890f02be4.json
  src/MetadataManager/user_workspace/.meta/hash_objects/bf/bbc986a512b44da1c32c43879de2c004f27f91ccb4d853fe64a7f9e8daf9d3.json
Labels: 2 approvals, Metadata Manager

#48 [Metadata Manager] merge all event handler
  package-lock.json
  src/MetadataManager/EventManager.ts
  src/MetadataManager/metadataAPI.ts
  src/MetadataManager/pathToHash.ts
Labels: 2 approvals, Metadata Manager

#49 [Metadata Manager] add exception handling in changeEvent
  src/MetadataManager/EventManager.ts
  src/MetadataManager/metadataAPI.ts
  src/MetadataManager/pathToHash.ts
Labels: 2 approvals, Metadata Manager

#52 [Metadata Manager] fix deleteMetadata in checkValidation
  src/MetadataManager/EventManager.ts
  src/MetadataManager/pathToHash.ts
  src/MetadataManager/user_workspace/.meta/hash_objects/2d/3022c7202ca34ba55d8dc7239cc7a0378fe4d2bb61f05399dbde639075d56c.json
  src/MetadataManager/user_workspace/.meta/hash_objects/37/268335dd6931045bdcdf92623ff819a64244b53d0e746d438797349d4da578.json
  src/MetadataManager/user_workspace/.meta/hash_objects/51/bac58ac7d538e75bdfba5d8bcbfeb9bfbf4b04e0c9261512f6a829ed559299.json
  src/MetadataManager/user_workspace/.meta/hash_objects/88/8488c9a0128eeb0147672601f047b01bf24635a6aacb9784887ee96736acf8.json
  src/MetadataManager/user_workspace/.meta/hash_objects/9f/8641056d4e2eb03830f3c1bbb6c71ca6e820f6da94bf7055b132b8d2e6a2b5.json
  src/MetadataManager/user_workspace/.meta/hash_objects/a2/c96d518f1099a3b6afe29e443340f9f5fdf1289853fc034908444f2bcb8982.json
  src/MetadataManager/user_workspace/.meta/hash_objects/b9/9aabc6d3ce5e7966a62012528fe73b8c170edb51127af63afddcc890f02be4.json
  src/MetadataManager/user_workspace/.meta/hash_objects/bf/bbc986a512b44da1c32c43879de2c004f27f91ccb4d853fe64a7f9e8daf9d3.json
  src/MetadataManager/user_workspace/.meta/hash_objects/e3/b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855.json
Labels: 2 approvals, Metadata Manager

#55 [Metadata Manager] fix file extension in changeEvent
  src/MetadataManager/EventManager.ts
Labels: Quick Fix, Metadata Manager

#56 [Metadata Manager] change snakecase to camelcase
  src/MetadataManager/EventManager.ts
  src/MetadataManager/metadataAPI.ts
  src/MetadataManager/pathToHash.ts
  src/MetadataManager/user_workspace/.meta/pathToHash.json
Labels: 2 approvals, Metadata Manager

#57 [Metamanager] refactoring
  src/MetadataManager/EventManager.ts
  src/MetadataManager/metadataAPI.ts
  src/MetadataManager/pathToHash.ts
Labels: 2 approvals, Metadata Manager

#58 [Metadata Manager] refactoring to pass github actions
  src/MetadataManager/EventManager.ts
  src/extension.ts
Labels: 2 approvals, Metadata Manager

#60 [Metadata Manager] push Metamanager from manager to develop
  package-lock.json
  package.json
  src/MetadataManager/EventManager.ts
  src/MetadataManager/metadataAPI.ts
  src/MetadataManager/pathToHash.ts
  src/MetadataManager/user_workspace/.meta/hash_objects/2d/3022c7202ca34ba55d8dc7239cc7a0378fe4d2bb61f05399dbde639075d56c.json
  src/MetadataManager/user_workspace/.meta/hash_objects/37/268335dd6931045bdcdf92623ff819a64244b53d0e746d438797349d4da578.json
  src/MetadataManager/user_workspace/.meta/hash_objects/51/bac58ac7d538e75bdfba5d8bcbfeb9bfbf4b04e0c9261512f6a829ed559299.json
  src/MetadataManager/user_workspace/.meta/hash_objects/a2/c96d518f1099a3b6afe29e443340f9f5fdf1289853fc034908444f2bcb8982.json
  src/MetadataManager/user_workspace/.meta/hash_objects/b9/9aabc6d3ce5e7966a62012528fe73b8c170edb51127af63afddcc890f02be4.json
  src/MetadataManager/user_workspace/.meta/relation.json
  src/MetadataManager/user_workspace/model.tflite
  src/MetadataManager/user_workspace/test_onnx.circle
  src/MetadataManager/user_workspace/test_onnx.log
  src/MetadataManager/user_workspace/while_000.circle
  src/MetadataManager/user_workspace/while_000.log
  src/extension.ts
Labels: 2 approvals

#61 [Metadata Manager] fix getFileInfo
  src/MetadataManager/metadataAPI.ts
Labels: Metadata Manager

#62 [Metadata Manager] refactor
  src/MetadataManager/EventManager.ts
  src/MetadataManager/metadataAPI.ts
  src/MetadataManager/pathToHash.ts
Labels: 2 approvals, Metadata Manager

#64 [Metadata Manager] sync branch
  src/MetadataManager/EventManager.ts
  src/MetadataManager/metadataAPI.ts
  src/MetadataManager/pathToHash.ts
Labels: 2 approvals

#65 [Metadata Manager] async develop to manager
  src/MetadataManager/EventManager.ts
  src/MetadataManager/metadataAPI.ts
  src/MetadataManager/pathToHash.ts
  src/MetadataManager/user_workspace/.meta/relation.json
Labels: 2 approvals, Metadata Manager

#69 [Metadata Manager] Merge branches for adding event queue
  src/MetadataManager/EventManager.ts
  src/MetadataManager/metadataAPI.ts
  src/MetadataManager/pathToHash.ts
Labels: 2 approvals, Metadata Manager

#68 [Metadata Manager] refactor
  package.json
  src/MetadataManager/EventManager.ts
  src/MetadataManager/metadataAPI.ts
  src/MetadataManager/pathToHash.ts
  src/MetadataManager/user_workspace/.meta/hash_objects/2d/3022c7202ca34ba55d8dc7239cc7a0378fe4d2bb61f05399dbde639075d56c.json
  src/MetadataManager/user_workspace/.meta/hash_objects/37/268335dd6931045bdcdf92623ff819a64244b53d0e746d438797349d4da578.json
  src/MetadataManager/user_workspace/.meta/hash_objects/51/bac58ac7d538e75bdfba5d8bcbfeb9bfbf4b04e0c9261512f6a829ed559299.json
  src/MetadataManager/user_workspace/.meta/hash_objects/a2/c96d518f1099a3b6afe29e443340f9f5fdf1289853fc034908444f2bcb8982.json
  src/MetadataManager/user_workspace/.meta/hash_objects/b9/9aabc6d3ce5e7966a62012528fe73b8c170edb51127af63afddcc890f02be4.json
  src/extension.ts
Labels: 2 approvals, Metadata Manager

#70 [Metadata Manager] Add build information and relation information
  src/MetadataManager/Dummy/DummyBackendProvider.ts
  src/MetadataManager/EventManager.ts
  src/MetadataManager/metadataAPI.ts
  src/extension.ts
Labels: Metadata Manager

#54 [Relation Viewer] update logic to rerender viewer when node click
  media/RelationViewer/index.js
  media/RelationViewer/style.css
  src/MetadataViewer/MetadataViewerProvider.ts
  src/RelationViewer/RelationViewer.ts
  src/RelationViewer/RelationViewerProvider.ts
Labels: 2 approvals

#72 [Relation Viewer] update logic to rerender viewer when node click
  media/MetadataViewer/index.html
  media/MetadataViewer/index.js
  media/MetadataViewer/style.css
  media/RelationViewer/index.html
  media/RelationViewer/index.js
  media/RelationViewer/style.css
  package.json
  src/MetadataViewer/MetadataViewer.ts
  src/MetadataViewer/MetadataViewerProvider.ts
  src/MetadataViewer/example/MetadataExample.ts
  src/RelationViewer/RelationViewer.ts
  src/RelationViewer/RelationViewerProvider.ts
  src/RelationViewer/example/RelationExample.ts
Labels: 2 approvals
